<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profesor X</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="warning"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="prof-theme">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Generador de QR</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="placeholder-content">
        <p>Aquí se generará un código QR en el futuro.</p>
        <img src="assets/QR.png" alt="QR Code">
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>